             /*общая стилизация*/
body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 18px;
	line-height: 17px;
	/*ont-weight: 700;*/
	color: black;
	background-color: #ffffff;
	background-image: url("img/invalid-name.png");
	text-transform: uppercase;
	background-position: top center;
	background-repeat: no-repeat;
} 

a {
  text-decoration: none;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  background-color: #293449;   
}

.site-navigation a:hover {
	/*color: #212a3a;*/
	color: red;
}

.site-navigation a:focus {
	/*color: #293449;*/
	color: green;
}

.site-navigation a:active {
	/*color:  #161d29;*/
	color: blue;
}

.site-navigation a {
	color: #ffffff;
}

.header-top h1 {
	font-size: 16px;
	line-height: 23px;
    font-style: italic;
	color: red;
}

.phone {
	font-size: 21px;
	line-height: 21px;
	color: red;
    border: 1px solid red;	
}

.address {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
} 

.user-actions {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
}

.user-actions a {
	color: #000000;
}

.user-actions a:hover {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-actions a:focus{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.user-actions a:active  {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
}

.icon-phone {
	size: 19px;
}

.site-information a {
	color: #ffffff;
}

.site-information {
	font-size: 17px;
	line-height: 17px;
	list-style: none;
	color: #ffffff;
    background-color: #32425c;
}

.site-information a:hover {
	color: #ffffff;
	background-color: #32425c;
	
}

.site-information a:focus {
	color: #ffffff;
	background-color: #293449;
}

.site-information a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

h2 {
	
}
.button {
	font: inherit;
	font-size: 14px;
	line-height: 18px;
	vertical-align: middle;
	text-transform: uppercase;
	text-align; center;  
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}	

.button:hover {
	background-color: #ca2c37;
}
.button:focus {
	background-color: #ee3643;
}
.button:active {
background-color: #ba2732;
}

.container h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	background-color: ;
}

.container p {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.container ul {
	font-size: 18px;
	line-height: 20px;
	list-style: none;
	color: #000000;
}

.main-footer {
  color: #ffffff;
  background-color: #32425c;
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer {
	color: #f3f7f9;
	background-color: #32425c;
}

.tool {
	list-style: none;
} 

.tool a {
	color: #ffd180;
}

.footer-bootom {
	background-color: #293449;
}

.footer-social {
  text-align: center;
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.copyright a:hover,
.copyright a:focus {
  color: #000000;
  background-color: #ffffff;
}

p .footer-copyright {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

section .main-form {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-form input {
  font: inherit;
  background-color: transparent;
  border: 1px solid #000000;
}

.main-form input:focus {
  border-color: #663d15;
}